

.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-evenly;
    gap: 5px;
    height: 63px;
    color: white;
    font-size: 16px;
    background-color: var(--negro);
    padding: 0 20px;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
}

.superior__item {
    color: var(--gris-texto);
    font-size: 16px;
    background-color: var(--negro);
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    width: auto;
}

.superior__item:hover {
    color: white;
    background-color: var(--dorado-medio);
    transition: .5s;
}